header{
    height: 450px;
    background:url(background2.jpg);
    background-position: center;
    background-size: cover;
}
.logo{
    height:50px;
    width: 50px;
    float:left;
    margin:30px 30px 0 30px;

}
.logo div img{
    fill:rgba(0,0,0,0);
    opacity: 0.8;
}
nav{
    float:right;
    margin:30px 30px 0 0;
}
a{
    display:inline-block;
    margin-left:20px;
    color:white;
    font-size: 14px;
    font-weight: 700;
    text-transform:uppercase;
    text-decoration: none;
}
nav a:hover a:link , a:active{
    color:rgba(0,0,0,1);
}
h1{
    text-align: center;
    font-size: 72px;
    font-weight:700;
    color:white;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
    clear: both;
    padding-top: 70px;
}
.kicker{
    text-align: center;
    font-weight:700;
    color: white;
    text-transform: uppercase;
}

footer{

    background:url(background2.jpg);
    background-size: cover;
    background-position:bottom;

}
.bottom-nav{
    padding: 50px 30px;

}
.logo{
    height:50px;
    width: 50px;
    float:left;
    margin-right:30px;
}
.content-wrap{
    float:left;
}
.content-wrap nav p{
    float:left;
}
.copyright{
    margin:0;
    text-transform:uppercase;
    font-size: 12px;
    color:rgba(0,0,0,0.4);
}